/* Rotherham Council Design System - Greyscale */

/* Black */

.black { color: #080808; }
.bg-black { background-color: #080808; }
.b--black { border-color: #080808; }
.hover-black:hover,
.hover-black:focus { color: #080808; }
.hover-bg-black:hover,
.hover-bg-black:focus { background-color: #080808; }

/* White */

.white { color: #FFFFFF; }
.bg-white { background-color: #FFFFFF; }
.b--white { border-color: #FFFFFF; }
.hover-white:hover,
.hover-white:focus { color: #FFFFFF; }
.hover-bg-white:hover,
.hover-bg-white:focus { background-color: #FFFFFF; }

/* Greys */

/* Grey 1 */
.grey-1 { color: #E5E5E5; }
.bg-grey-1 { background-color: #E5E5E5; }
.b--grey-1 { border-color: #E5E5E5; }
.hover-grey-1:hover,
.hover-grey-1:focus { color: #E5E5E5; }
.hover-bg-grey-1:hover,
.hover-bg-grey-1:focus { background-color: #E5E5E5; }

/* Grey 2 */
.grey-2 { color: #CCCCCC; }
.bg-grey-2 { background-color: #CCCCCC; }
.b--grey-2 { border-color: #CCCCCC; }
.hover-grey-2:hover,
.hover-grey-2:focus { color: #CCCCCC; }
.hover-bg-grey-2:hover,
.hover-bg-grey-2:focus { background-color: #CCCCCC; }

/* Grey 3 */
.grey-3 { color: #B2B2B2; }
.bg-grey-3 { background-color: #B2B2B2; }
.b--grey-3 { border-color: #B2B2B2; }
.hover-grey-3:hover,
.hover-grey-3:focus { color: #B2B2B2; }
.hover-bg-grey-3:hover,
.hover-bg-grey-3:focus { background-color: #B2B2B2; }

/* Grey 4 */
.grey-4 { color: #999999; }
.bg-grey-4 { background-color: #999999; }
.b--grey-4 { border-color: #999999; }
.hover-grey-4:hover,
.hover-grey-4:focus { color: #999999; }
.hover-bg-grey-4:hover,
.hover-bg-grey-4:focus { background-color: #999999; }

/* Grey 5 */
.grey-5 { color: #7F7F7F; }
.bg-grey-5 { background-color: #7F7F7F; }
.b--grey-5 { border-color: #7F7F7F; }
.hover-grey-5:hover,
.hover-grey-5:focus { color: #7F7F7F; }
.hover-bg-grey-5:hover,
.hover-bg-grey-5:focus { background-color: #7F7F7F; }

/* Grey 6 */
.grey-6 { color: #666666; }
.bg-grey-6 { background-color: #666666; }
.b--grey-6 { border-color: #666666; }
.hover-grey-6:hover,
.hover-grey-6:focus { color: #666666; }
.hover-bg-grey-6:hover,
.hover-bg-grey-6:focus { background-color: #666666; }

/* Grey 7 */
.grey-7 { color: #4C4C4C; }
.bg-grey-7 { background-color: #4C4C4C; }
.b--grey-7 { border-color: #4C4C4C; }
.hover-grey-7:hover,
.hover-grey-7:focus { color: #4C4C4C; }
.hover-bg-grey-7:hover,
.hover-bg-grey-7:focus { background-color: #4C4C4C; }

/* Grey 8 */
.grey-8 { color: #333333; }
.bg-grey-8 { background-color: #333333; }
.b--grey-8 { border-color: #333333; }
.hover-grey-8:hover,
.hover-grey-8:focus { color: #333333; }
.hover-bg-grey-8:hover,
.hover-bg-grey-8:focus { background-color: #333333; }

/* Grey 9 */
.grey-9 { color: #191919; }
.bg-grey-9 { background-color: #191919; }
.b--grey-9 { border-color: #191919; }
.hover-grey-9:hover,
.hover-grey-9:focus { color: #191919; }
.hover-bg-grey-9:hover,
.hover-bg-grey-9:focus { background-color: #191919; }
